# Archivos temporales y caché
*.log
*.tmp
*.bak

# Base de datos o dumps
*.sql.backup
*.db

# Sistema
.DS_Store
Thumbs.db

# Soluciones del profesorado (NO subir a GitHub)
instructor/
instructor/**
instructor/solutions/**

